TELEGRAM_BOT_TOKEN=PEGAR_TOKEN_AQUI
TELEGRAM_CHAT_ID=PEGAR_CHAT_ID_AQUI
TELEGRAM_ALLOWED_CHAT_IDS=PEGAR_CHAT_ID_AQUI

SEND_TELEGRAM=true
GAHEL_ENV=production
GAHEL_DEBUG=false

GAHEL_TIMEZONE=America/Argentina/Buenos_Aires
GAHEL_REPORT_HOUR=9
GAHEL_REPORT_MINUTE=0
GAHEL_CHECK_EVERY_SECONDS=60
